*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eeee;
}
.title{
    text-align: start;
    font-family: Calibri, sans-serif;
    font-size: 180%;
    margin: 2%;
    list-style: none; display: inline;
    background-color: cyan;
}
.title img{
    float: left;
    width: 6%;
    height: 6%;
    margin: 2% 4% 0% 2%;
}
.cards{
    text-align: center;
}
.cards li{
    margin: 1%;
    list-style: none;display: inline;
}
.cards input{
    
    margin:3% 0% 1% 1% ;
    padding: 50px 100px 50px 100px;
    border-radius: 10%;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.486);
    font-size: 300%;
    background-color: rgba(76, 35, 190, 0.644); color: white;
    
}
.cards2{
    text-align: center;       
}
.cards2 li{
    margin: 1%;
    list-style: none; display: inline;   
}
.cards2 input{

    margin:2% 0% 0% 0% ;
    padding: 50px 100px 50px 100px;
    border-radius: 10%;
    border: none; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.486);
    font-size: 300%;
    background-color: rgba(214, 165, 49, 0.712); color: white;
    
}
.info{
    text-align: end;
}
.info input{
    margin-right: 6% 6% 6% 6% ;
    padding: 10px 15px 10px 15px;
    border-radius: 5%;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.486);
    font-size: 150%;
    background-color: rgba(255, 6, 89, 0.856); color: white;
}
